# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
.env.local
.env.*.local

# OS files
.DS_Store

# Angular built files
dist/
.angular/

# Backup files accidentally created
* 2.json
* 2.js
*.md 2
* 2.md
